/* Common style*/
body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	background:url('../images/bg_img.png') repeat;
}
#page{
	/* background:url('../images/bg_img.png') repeat; */
	background: white;
}
.form-required {
	color: #CC0000;
	font-size: 8px;
}
.rich-text{
	font-size: 14px;
}
a{
	text-decoration: none;
	color: #B84A01;
}
.element-invisible, div.grippie{
	display: none;
}

h1.title{
	font-size: 18px;
	color: #666;
	font-weight: normal;
	padding: 10px;
}

h2.sub-title{
	font-size: 16px;
	color: #666;
	font-weight: normal;
}

.rounded-corners (@radius: 4px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.noshadow{
	webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter: none;
	background-color:#ededed;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;

}

/* botton */
input[type="text"], input[type="password"],input[type="textarea"], .resizable-textarea textarea{
	padding: 0px;
	margin: 0px;
	border: 1px solid #ada9a5;
	padding: 3px 5px;
	.rounded-corners;
}
html.js .resizable-textarea{
	div.grippie{
		margin-left:200px;
	}
	textarea{
		width: 220px;
	}
} 
input[type="submit"] {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
input[type="submit"]:active {
	position:relative;
	top:1px;
}

/* tables */
th, thead th, tbody th{
	padding: 0 5px;
	border:0px;
	font-weight: normal;
}
form th, form thead th{
	border: none;
}
form tbody{
	border: none;
}
table.pre-request{
	margin: 0px;
	margin-left: 20px;
}
table.tutorial-comments{
	margin: 0px;
	margin-left: 10px;
}

a.view-record, a.edit-record, a.confirm-record{
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	/* margin: 0 2px; */
	text-indent: -999em;
}
a.view-record{
	background:url('../images/view.png') no-repeat;
}
a.edit-record{
	background:url('../images/edit.png') no-repeat;
}
a.confirm-record{
	background:url('../images/confirm.png') no-repeat;
}

table{
	width: 100%;
	tr{	
		border: 0px;
		td,th{
			font-size: 12px;
			padding: 8px 3px;
			vertical-align: middle;
			a{
				/* display: block; */
			}
		}
		th{
			font-size: 14px;
		}
	}
	tr.odd{
		background-color: #f8f8f8;
		border: 0px;
	}
	tr.even{
		background-color: #ffffff;
		border: 0px;
	}
}

/* tabs */
.tabs{
	ul.primary{
		border: 0px;
		overflow: hidden;
		padding: 0;
		li{	
			float: left;
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
			background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
			background-color:#ededed;
			color:#777777;
			font-family:arial;
			font-size:15px;
			font-weight:bold;
			padding:6px 8px;
			text-decoration:none;
			text-shadow:1px 1px 0px #ffffff;
			a{
				background: none !important;
				border:0;
				margin:0;
				padding: 0;
			}
		}
		li:hover {
			/* background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
			background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed'); */
			background-color:#dfdfdf;

		}
		li.active {
			/* -moz-border-radius:6px;
			-webkit-border-radius:6px;
			border-radius:6px;
			border:1px solid #dcdcdc; */
			background-color:#fff;
		}
	}
}

/* pager */

div.item-list{
	ul.pager{
		overflow: hidden;
		li{
			background:url('../images/pager.png') no-repeat;
			width: 34px;
			height: 36px;
			float: left;
			padding: 0px;
			margin: 0 2px;
			a{
				display: block;
				padding: 0px;
				line-height: 33px;
			}
		}
		li.pager-first, li.pager-previous{
			background-position: 0px 0px;
			width: 75px;
		}
		li.pager-ellipsis, li.pager-item{
			background-position: -114px 0px;
		
		}
		li.pager-current{
			background-position: -77px 0px;
			line-height: 34px;
		}
		li.pager-next, li.pager-last{
			background-position: -150px 0px;
			width: 75px;
		}
		
	}
}
/* forms */
.workshop-form, .stupload-form{
	padding-left: 10px;
	overflow: hidden;
	width: 770px;
	form{
		.form-item{
			width: 760px;
			clear: both;
			overflow: hidden;
			label{
				float: left;
				width: 280px;
				padding-right: 20px;
				color: #666;
				font-weight: normal;
			}
			input{
				float: left;
			}
		}
		input[type="text"], input[type="password"],input[type="textarea"], .resizable-textarea textarea{
			width: 250px;
		}
		input[type="submit"]{
			clear: both;
			margin-left: 300px;
		}
		select{
			min-width: 260px;
		}
		.selected-info{
			margin-bottom: 15px;
			width: 760px;
			overflow: hidden;
			h3{
				font-size: 14px;
				margin: 5px 0;
				color: #666;
				width: 300px;
				float: left;
				color: #666;
				font-weight: normal;
			}
		}
	}
}

.list_videos{
 	.tutorial-list-search{
		overflow: hidden;
		width: 666px;
		margin: auto;
		div.form-item{
			float: left;
			padding: 0 5px;
			margin: 0px;
			line-height: 38px;
		}
	}
	.list_data{
		td{
			vertical-align: middle;
			img{
				float: left;
				width: 150px;
			}
			div.con{
				width: 200px;
				padding-left: 10px;
				float: left;
				p{
					margin: 0px;
				}
				p.foss, p.lang{
					font-size: 12px;
					color: #666;
				}color
				p.tname, p.tname a{
					font-size: 16px;
				}
			}
		}
	}
}
.download-title{
	float: left;
	padding-right: 10px;
	h1{
		padding: 0px;
	}
}
.download-links{
	float: left;
	padding: 5px 0;
}
table.empty-message{
	margin-left: 20px;
}
.tutorial-view-page{
	padding-left: 10px;
	.back-search{
		width: 100%;
		a{
			float: right;
			padding-right: 20px;
		}
	}
	td{
		textarea{
			margin-left: 20px;
			height: auto;
			resize: none;
		}
		h1{
			padding: 0 0 10px 10px;
		}
	}
}
div.workshop-form{
	div.date-and-time{
		overflow: hidden;
		width: 760px;
		label{
			float: left;
			width: 280px;
			padding-right: 20px;
			color: #666;
			font-weight: normal;
			margin: 0;
		}
		.form-item{
			margin: 0;
			float: left;
			width: 110px;
			clear: none !important;
			select{
				min-width: 100px;
			}
		}
		span.timedivi{
			float: left;
			margin-right: 4px;
			font-weight: bold;
			line-height: 24px;
		}
		
	}
}

.skype-request{
	.form-radios{
		float: left;
		width: 260px;
		margin: 0px;
		div.form-item{
			margin: 0;
			float: left;
			width: 60px;
			clear: none !important;
		}
	}
}

div.academic_details div.workshop-form form{
	width:420px;
	margin: auto;
	overflow: hidden;
	div.form-item{
		clear: none !important;
		float: left;
		width:270px;
		margin: 10px 0;
		select{
			width: 270px;
		}
	}
	input[type="submit"]{
		margin: 5px;
		margin-left:20px;
	}
}

div.comment-form{
	.form-item{
		width: 760px;
		clear: both;
		overflow: hidden;
		label{
			float: left;
			width: 280px;
			padding-right: 20px;
			color: #666;
			font-weight: normal;
		}
		input{
			float: left;
		}
		input[type="textarea"]{
			width: 300px;
		}
	}
	input[type="submit"]{
		clear: both;
		margin-left: 300px;
	}
}

/* block */
.block{
	margin-bottom: 6px;
	h2.title{
		color: #666;
		font-size: 18px;
		font-weight: normal;
	}
	a{
		font-size: 13px;
	}
	.content{
		ul{
			padding: 0px;
			margin: 0px;
			li{
				background:url('../images/arr.png') no-repeat;
				background-position: 5px 7px;
				list-style: none;
				padding: 1px 0;
				padding-left: 14px;
			}
		}
	}
}

/* header */

#page-wrapper{
	width: 1024px;
	margin: auto;
	overflow: hidden;
	position: relative;
	#page{
		
	}
}
#master-head{
	width: 780px;
	clear: both;
}
#header{
	width: 1004px;
	padding: 0 10px;
	height: 81px;
	overflow: hidden;
	background:url('../images/banner-bg.png') no-repeat;
	#logo-name-and-slogan{
		float: left;
		width: 400px;
		#logo{
			width: 80px;
			height: 83px;
			img{
				padding: 5px 0 0 0px;
			}
		}
	}
	#navigation-search{
		float: right;
		overflow: hidden;
		width: 505px;
		#navigation{
			/* margin-top: 8px; */
			width: 505px;
			height: 32px;
			/* background:url('../images/nav-bg.png') no-repeat; */
			#main-menu{
				li{
					float: left;
					padding: 0 8px;
					a{
						color: #B84A01;
						line-height: 32px;
						display: block;
					}
					a.hover{
						font-weight: normal;
					}
				}
				li.active-trail{
					a{
						font-weight: normal;
					}
				}
			}
		}
		#search{
			clear: both;
			height: 29px;
			width: 186px;
			float: right;
			margin-top: 14px;
			/* todo ie7 clear both problem */
			*margin-top: 44px;
			margin-right: 10px;
			h2{
				display: none;
			}
			.block{
				margin-bottom: 0px;
			}
			.content{
				float: right;
				.container-inline{
					position: relative;
					/* background:url('../images/search-bg.png') no-repeat; */
					.form-item{
						input{
							background: none;
							border: 0px;
							margin: 0px;
							height: 20px;
							line-height: 20px;
							width: 145px;
							color: #000000;
							padding: 2px 25px 2px 5px;
							margin-right: 20px;
							border: 1px solid #666;
						}
					}
					.form-submit{
						.noshadow;
						border: 0px;
						padding: 0px;
						margin: 0px;
						width: 20px;
						height: 20px;
						text-indent: -999em;
						right: 22px;
						top: 2px;
						display: block;
						position: absolute;
						background:url('../images/search-btn-bg.png') no-repeat;
						/* for ie */
						font-size: 0;
						display:block;
						line-height: 0;
					}
				}
			}
		}
	}
}

#main-content{
	width: 790px;
	padding-left: 10px;
	float: left;
	overflow: hidden;
	#search_tutorial{
		width: 780px;
		overflow: hidden;
		position: relative;
		.carousel, .carousel-2{
			width: 720px;
			padding: 10px 0;
			ul{
				li{
					width: 125px;
					height: 30px;
					position: relative;
					div.selected{
						width: 126px;
						height: 30px;
						background:url('../images/lang-selected.png') no-repeat;
						top: 4px;
						left: 2px;
						position: absolute;
						display: none;
					}
				}
			}
		}
		.carousel{
			ul{
				li{
					width: 125px;
					height: 50px;
					position: relative;
					div.selected{
						width: 126px;
						height: 50px;
						background:url('../images/foss-selected.png') no-repeat;
						top: 4px;
						left: 2px;
						position: absolute;
						display: none;
					}
				}
			}
			.jcarousel-prev{
			}
		}
		.carousel-2{
		}
		form{
			width: 45px;
			height: 46px;
			position: absolute;
			top: 47px;
			right: 1px;
			input[type="submit"]{
				position: relative;
				background:url('../images/search.png') no-repeat;
				background-position: 1px;
				padding: 0;
				border: 0;
				text-indent: -999em;
				height: 52px;
				width: 52px;
			}
		}
	}
}

#sidebar{
	width: 220px;
	float: right;
	margin-top: 10px;
	div.region-sidebar-first{
		width: 220px;
	}
	div.section{
		margin: 0px;
	}
	div.top{
		padding-top: 7px;
		background:url('../images/sidebar-top-bg.png') no-repeat;
	}
	div.bottom{
		padding-top: 7px;
		background:url('../images/sidebar-bottom-bg.png') no-repeat;
	}
	div.middle{
		background:url('../images/sidebar-center-bg.png') repeat-y;
		padding: 10px;
	}
}

.featured-videos{
	width: 780px;
	height: 150px;
	clear: both;
	padding: 5px 0;
	h2{
		width: 40px;
		float: left;
		padding-right: 5px;
	}
	div.content{
		float: left;
		width: 730px;
		ul{
			width: 720px;
			overflow: hidden;
			li{
				background-image: none !important;
				padding: 0px;
				float: left;
				width: 360px;
				padding: 15px 0;
				img{
					width: 150px;
					float: left;
					padding-right: 5px;
				}
				div.con{
					width: 205px;
					float: left;
					p.foss, p.lang{
						font-size: 12px;
						color: #666;
					}
					p.tname, p.tname a{
						font-size: 16px;
					}
				}
				p{
					padding: 0px;
					margin: 0px;
					line-height: 20px;
				}
			}
		}
	}
}
#most_recent, #most_viewed{
	h2{
		background:url('../images/most-recent.png') no-repeat;
		text-indent: -999em;
		height: 150px;
	}
}

#most_viewed{
	h2{
		background:url('../images/most-viewed.png') no-repeat;
	}
}

#footer{
	clear: both;
	width: 1024px;
	background: #f0f0f0;
	#footer-message{
		display: none;
	}
	div.content{
		text-align: center;
		color: #666;
		p{
			margin: 0px;
			padding: 10px 0;
		}
	}
}
/* jcarousel */

.jcarousel-container-horizontal{
	clear: both;
	padding: 0 38px;
	.jcarousel-clip-horizontal{
	  overflow: hidden;
	  .jcarousel{
	    li{
		 overflow: hidden;
		 position: relative;
		 padding: 5px 2px;
		 padding-top: 4px;
	    }
	  }
	}
	.jcarousel-prev{
	  width: 30px;
	  height: 30px;
	  left: 0;
	  top: 2px;
	  position: absolute;
	  background: url("../images/foss-left-right-arrow.png");
	  background-position: 0 -14px;
	}
	.jcarousel-prev.jcarousel-prev-disabled{
	  background-position: 0px -14px;
	}
	.jcarousel-next{
	  width: 30px;
	  height: 30px;
	  right: 0;
	  top: 2px;
	  position: absolute;
	  background: url("../images/foss-left-right-arrow.png");
	  background-position: -31px -14px;
	}
	.jcarousel-next.jcarousel-next-disabled{
	  background-position: -31px -14px;
	}
}


div.carousel{
	.jcarousel-container-horizontal{
		.jcarousel-prev{
		  top: 0px;
		  width: 30px;
		  height: 50px;
		  background: url("../images/foss-left-right-arrow.png");
		  background-position: 0 0;
		}
		.jcarousel-prev.jcarousel-prev-disabled{
		  background-position: 0px 0;
		}
		.jcarousel-next{
		  top: 0px;
		  width: 30px;
		  height: 50px;
		  position: absolute;
		  background: url("../images/foss-left-right-arrow.png");
		  background-position: -31px 0;
		}
		.jcarousel-next.jcarousel-next-disabled{
		  background-position: -31px 0;
		}
	}
}


/* forms */

#user-login-form{
	.form-item{
		input{
			width: 160px;
		}
	}
}

/* upload interface */

.update{
	form{
		input[type="submit"]{
			margin: 0px;
		}
	}
}
